body {
  background-image: url(https://images.unsplash.com/photo-1575722290270-626b0208df99?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzY1Njg4MTc&ixlib=rb-4.0.3&q=80);
  background: cover;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Profile_card {
  border-radius: 10%;
  color: white;
  text-align: center;
  margin: 10px;
  box-shadow: 0 18px 200px -60px black;
  position: relative;
  backdrop-filter: blur(10px);
  padding: 5px;
}
.Profile_card_desc {
  align-items: center;
  font-family: Inconsolata;
}
#ava {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
#pjatk_link:hover{
  color:red;
}
.Instagram:hover {
  color: pink;
}
.LinkedIn:hover {
  color: blue;
}
.GitHub:hover {
  color: black;
}
.contact_button {
  padding: 7px 4px;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
  border-radius:25px;
  cursor:pointer;
}
.contact_button:hover {
  transform:translateY(-2px);
}
